In [1]:
%load_ext cuml.accel
%load_ext cudf.pandas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

cuML: Accelerator installed.

In [2]:
# #-----------------------------------------------------
# ## convert to parquet
# # مسیر فایل CSV اولیه
# csv_path = "AnnonymData.csv"
# # مسیر خروجی Parquet
# parquet_path = "AnnonymData.parquet"
#
# # یک‌بار: تبدیل CSV به Parquet
# gdf_initial = pd.read_csv(csv_path)
# gdf_initial.to_parquet(parquet_path, compression="snappy")
# #-----------------------------------------------------

In [3]:
data = pd.read_parquet('AnnonymData.parquet')
df =pd.DataFrame(data)
df = df.drop(columns=['OrderId' , 'TransactionId','BookingNr'] , axis=1)
print( 'Data frame dimensions: ',df.shape)
df.head(3)

Data frame dimensions:  (6538739, 11)

,DateOfService,DateOfOrder,OrderQty,MenuName,MenuPrice,MenuSubsidy,GroupName,CanceledQty,DateOfCancel,Site,SchoolID
0,2020-01-02,2020-02-05 11:54:08,1,Mittagessen (Gs),"3,10","0,00","xxx3,45€ normal 5T (68€)",0,<NA>,LP,SCH001
1,2020-01-02,2019-12-16 10:30:51,1,Smart Eating Buffet (WGrus),"0,00","3,50",Steinfurt Abo ermäßigt,0,<NA>,BK,SCH002
2,2020-01-02,2019-12-16 10:31:33,1,Smart Eating Buffet (WGrus),"2,90","0,60",Westerkappeln Grundschüler Abo,0,<NA>,BK,SCH002

In [4]:
df.columns

Index(['DateOfService', 'DateOfOrder', 'OrderQty', 'MenuName', 'MenuPrice',
       'MenuSubsidy', 'GroupName', 'CanceledQty', 'DateOfCancel', 'Site',
       'SchoolID'],
      dtype='object')

In [5]:
missing_data = df.isna().sum()
missing_data = missing_data[missing_data > 0]
print(missing_data)

DateOfCancel    5604260
Site             846012
dtype: int64

If the value of the DateOfCancel column in a row is null, is the value of the CanceledQty column also zero in the same row? If not, return the rows that do not meet this condition.

In [6]:
# violations = df[df['DateOfCancel'].isnull() & (df['CanceledQty'] != 0)]
# print(violations)

In [7]:

df['DateOfService']  = pd.to_datetime(df['DateOfService'] ,errors='coerce')
df['DateOfOrder']    = pd.to_datetime(df['DateOfOrder'], errors='coerce')
df['DateOfCancel']   = pd.to_datetime(df['DateOfCancel'], errors='coerce')

df['MenuPrice'] = pd.to_numeric(df['MenuPrice'].str.replace(',', '.'), errors='coerce').astype(float)
df['MenuSubsidy'] = pd.to_numeric(df['MenuSubsidy'].str.replace(',', '.'), errors='coerce').astype(float)
df['OrderQty'] = df['OrderQty'].astype(int)
df['CanceledQty'] = df['CanceledQty'].astype(int)

# df['IsCanceled'] = df['DateOfCancel'].notna().astype(int)  # 1 اگر کنسلی شده (تاریخ داره)، 0 اگر نه (NaN)

# فقط ردیف‌هایی را نگه می‌داریم که تعداد سفارش بزرگتر یا مساوی تعداد لغو شده باشد
df = df[df['OrderQty'] >= df['CanceledQty']]

# ردیف‌ها را در دو حالت نگه می‌داریم:
# 1. سفارش اصلاً لغو نشده باشد (DateOfCancel خالی است)
# 2. یا اگر لغو شده، تاریخ لغو آن قبل یا مساوی تاریخ سرویس باشد
df = df[(df['DateOfCancel'].isna()) | (df['DateOfCancel'] <= df['DateOfService'])]

# تاریخ سرویس باید از تاریخ سفارش بزرگتر باشد
df = df[df['DateOfService'] >= df['DateOfOrder']]


df = df.dropna(subset=['Site'])



# df = df.drop(columns=['DateOfCancel'])
df = df.sort_values(by='DateOfOrder', ascending=True)

df = df.reset_index(drop=True)
print( 'Data frame dimensions: ',df.shape)
df.head(5)

Data frame dimensions:  (3888273, 11)

,DateOfService,DateOfOrder,OrderQty,MenuName,MenuPrice,MenuSubsidy,GroupName,CanceledQty,DateOfCancel,Site,SchoolID
0,2020-01-02,2019-12-02 20:39:46,1,Mittagessen (BS),3.05,0.0,Bad Sassendorf,0,NaT,LP,SCH003
1,2020-01-03,2019-12-02 20:39:46,1,Mittagessen (BS),3.05,0.0,Bad Sassendorf,0,NaT,LP,SCH003
2,2020-01-02,2019-12-03 22:29:24,1,Mittagessen (BS),3.05,0.0,Bad Sassendorf,0,NaT,LP,SCH003
3,2020-01-02,2019-12-04 13:27:22,1,Mittagessen (BS),3.05,0.0,Bad Sassendorf,0,NaT,LP,SCH003
4,2020-01-03,2019-12-04 13:27:22,1,Mittagessen (BS),3.05,0.0,Bad Sassendorf,0,NaT,LP,SCH003

In [8]:
def show_unique_values(df, column_name, excel_output=None):
    if column_name in df.columns:
        unique_values = df[column_name].value_counts()
        print(f"Unique values in column '{column_name}':")
        print(unique_values)

        # Save to Excel if output path is provided
        if excel_output:
            # Convert to DataFrame for better Excel formatting
            unique_df = pd.DataFrame({
                'Value': unique_values.index,
                'Count': unique_values.values
            })
            unique_df.to_excel(excel_output, index=False)
            print(f"\nResults saved to Excel file: {excel_output}")
    else:
        print(f"There is no column with name '{column_name}' in the data frame.")

# استفاده از تابع برای ستون 'Name'
show_unique_values(df, "MenuName" , excel_output="menu_name.xlsx")

Unique values in column 'MenuName':
MenuName
Mittagessen Outlaw                226158
Smart Eating Buffet (HGS)         181046
Mittagessen (KL)                  171590
Smart Eating Buffet (LSS)         148734
Smart Eating Buffet (WGrus)       139884
                                   ...
Menü A (BO-Mitte)                      2
Menü B1 (BO-Mitte)                     2
Menü A (FSC)                           1
Menü B2 Ohne Dessert (BOHilde)         1
Menü C (GSZ)                           1
Name: count, Length: 269, dtype: int64

Results saved to Excel file: menu_name.xlsx

In [9]:
import re


def clean_text_menu(s):
    s = s.strip()
    s = re.sub(r'\s+', ' ', s)             # حذف فاصله‌های اضافی
    s = re.sub(r'[-–—]', ' ', s)            # یکدست کردن خط تیره
    s = re.sub(r'\s*\([^)]*\)', '', s)         # حذف پرانتز انتهایی
    s = re.sub(r'[()]', '', s)                  # حذف پرانتز های مانده
    s = s.replace('.', '')                 # ← حذف تمام نقاط


    # اصلاح املا
    s = re.sub(r'^Menü A', 'Menu A', s, flags=re.I)
    s = re.sub(r'^Menue_A', 'Menu A', s, flags=re.I)
    s = re.sub(r'^Menü B', 'Menu B', s, flags=re.I)
    s = re.sub(r'^Menue_B1', 'Menu B1', s, flags=re.I)
    s = re.sub(r'^Menü B1', 'Menu B1', s, flags=re.I)
    s = re.sub(r'^Menü B1 veg', 'Menu B1 veg', s, flags=re.I)
    s = re.sub(r'^Menü veg B1', 'Menu B1 veg', s, flags=re.I)
    s = re.sub(r'^Menü B1 Ohne Dessert', 'Menu B1 Ohne Dessert', s, flags=re.I)
    s = re.sub(r'^Menü C', 'Menu C', s, flags=re.I)
    s = re.sub(r'^MENÜ C', 'Menu C', s, flags=re.I)
    s = re.sub(r'^Menü B2', 'Menu B2', s, flags=re.I)
    s = re.sub(r'^Menue_B2', 'Menu B2', s, flags=re.I)
    s = re.sub(r'^Menü B2 Ohne Dessert', 'Menu B2 Ohne Dessert', s, flags=re.I)
    s = re.sub(r'^Menu B2BRS', 'Menu B2', s, flags=re.I)

    s = re.sub(r'^Menü D', 'Menu D', s, flags=re.I)
    s = re.sub(r'^DGE MENÜ', 'Menu DGE', s, flags=re.I)
    s = re.sub(r'^DGE Menü', 'Menu DGE', s, flags=re.I)
    s = re.sub(r'^Musterlinie 1', 'Musterlinie', s, flags=re.I)
    s = re.sub(r'^veganes Menülinie', 'veganes Menu', s, flags=re.I)
    s = re.sub(r'^veganes Menü', 'veganes Menu', s, flags=re.I)


    return s.strip()

df['MenuName'] = df['MenuName'].astype(str).apply(clean_text_menu)

show_unique_values(df, "MenuName" , excel_output="menu_name_cleaned.xlsx")

Unique values in column 'MenuName':
MenuName
Smart Eating Buffet          2460699
Mittagessen                   401310
Menu A                        317169
Mittagessen Outlaw            226158
Menu DGE                      149262
Menu B1 veg                    78482
Menu B1                        67196
Menu C                         36974
Tagesmenü                      34351
Menu B2                        30633
Riesenbeck                     17541
Nudelbar                       16586
Kiga FZ Nicolai Lippstadt      13039
Salatbar                       10650
Smart Eating                    7837
Lunchpaket                      7250
Menu A Ohne Dessert             5103
Menu B1 Ohne Dessert            3741
Lunchpaket vegetarisch          1584
Menu D                          1380
Menu B                           889
Menu B2 Ohne Dessert             302
veganes Menu                     131
Musterlinie                        6
Name: count, dtype: int64

Results saved to Excel file: menu_name_cleaned.xlsx

In [10]:
def show_unique_values(df, column_name, excel_output=None):
    if column_name in df.columns:
        unique_values = df[column_name].value_counts()
        print(f"Unique values in column '{column_name}':")
        print(unique_values)

        # Save to Excel if output path is provided
        if excel_output:
            # Convert to DataFrame for better Excel formatting
            unique_df = pd.DataFrame({
                'Value': unique_values.index,
                'Count': unique_values.values
            })
            unique_df.to_excel(excel_output, index=False)
            print(f"\nResults saved to Excel file: {excel_output}")
    else:
        print(f"There is no column with name '{column_name}' in the data frame.")

# استفاده از تابع برای ستون 'Name'
show_unique_values(df, "GroupName" , excel_output="Group_name.xlsx")

Unique values in column 'GroupName':
GroupName
Steinfurt Abo ermäßigt         194774
Bochum Schüler                 170965
Emsdetten Abo Schüler          163331
Outlaw Kita                    162306
Greven Schüler Abo             146807
                                ...
Marienschule                        2
Herten Lehrer                       1
Oelde Lehrer                        1
Westerkappeln Lehrer                1
xxx3,20€ normal 4T (42,40€)         1
Name: count, Length: 217, dtype: int64

Results saved to Excel file: Group_name.xlsx

In [11]:
import re


def clean_text_group(s: str) -> str:
    """
    این تابع یک نام گروه را به عنوان ورودی دریافت کرده و بر اساس قوانین از پیش تعریف شده،
    آن را پاک‌سازی و به یک دسته استاندارد تبدیل می‌کند. این تابع مکان‌ها، انواع گروه‌ها
    (دانش‌آموز، معلم)، برنامه‌های خاص (BuT) و سایر کلمات کلیدی را شناسایی می‌کند.
    """

    # 1. پیش‌پردازش و استانداردسازی اولیه
    text = s.strip()
    text = re.sub(r'[-–—]', ' ', text)      # یکدست کردن خط تیره
    text = re.sub(r'\s*\([^)]*\)', '', text)  # حذف محتوای داخل پرانتز
    text = re.sub(r'[()]', '', text)         # حذف خود پرانتز
    text = text.replace('.', '')             # حذف نقاط
    text = re.sub(r'\s+', ' ', text)         # حذف فاصله‌های اضافی
    text = text.lower()                      # تبدیل به حروف کوچک برای مقایسه بهتر

    # حذف پیشوندهای فنی مانند xx یا xxx
    text = re.sub(r'^x{2,3}', '', text).strip()

    # اصلاح املای کلمات رایج قبل از بررسی
    if ' erm' in text: # فاصله برای جلوگیری از جایگزینی در کلماتی مثل werne
        text = text.replace(' erm', ' ermäßigt')
    text = text.replace('grundsch', 'grundschule')
    text = text.replace('kiga', 'kita')

    # --- 2. دسته‌بندی بر اساس قوانین ---

    # قانون اولویت بالا: برنامه‌های خاص
    if 'but' in text:
        return "Programm: BuT"
    if 'corona' in text:
        return "Programm: Corona"
    if 'primus' in text:
        return "Programm: Primus"

    # قانون اصلی: دسته‌بندی بر اساس مکان (شهر)
    cities = [
        'arnsberg', 'bad sassendorf', 'beckum', 'neubeckum', 'bergkamen', 'bielefeld', 'bochum',
        'bönen', 'borghorst', 'borken', 'datteln', 'dortmund', 'dülmen', 'emsdetten', 'enger',
        'ennigerloh', 'essen', 'gelsenkirchen', 'gladbeck', 'greven', 'gütersloh', 'halle',
        'hamm', 'herford', 'herne', 'herten', 'hörstel', 'riesenbeck', 'horstmar', 'kreis soest', 'soest',
        'lippe', 'lippetal', 'lippstadt', 'lüdinghausen', 'märkischer kreis', 'münster',
        'nordkirchen', 'oelde', 'olfen', 'ostbevern', 'recklinghausen', 'senden', 'sprockhövel',
        'steinfurt', 'unna', 'waltrop', 'warendorf', 'werl', 'werne', 'wersen', 'wesel',
        'westerkappeln', 'wetter', 'wickede'
    ]

    found_city = None
    for city in cities:
        if city in text:
            found_city = city.title()
            break

    if found_city:
        # اگر شهری پیدا شد، بقیه دسته‌بندی را بر اساس آن می‌سازیم
        category_parts = []

        # شناسایی نوع اصلی گروه
        if 'schüler' in text or 'grundschule' in text:
            category_parts.append("Schüler")
        elif 'lehrer' in text:
            category_parts.append("Lehrer")
        elif 'kita' in text:
            category_parts.append("Kita")
        elif 'jobcenter' in text:
            category_parts.append("Jobcenter")

        # شناسایی ویژگی‌های اضافی (Modifiers)
        if 'abo' in text:
            category_parts.append("Abo")
        if 'ermäßigt' in text:
            category_parts.append("ermäßigt")

        # اگر فقط نام شهر بود و هیچ نوع گروهی شناسایی نشد
        if not category_parts:
            return f"{found_city} - Allgemein"

        # ترکیب بخش‌ها برای ساخت خروجی نهایی
        return f"{found_city} - {' '.join(sorted(list(set(category_parts))))}"

    # قانون بعدی: تعرفه‌ها و قیمت‌های عمومی (اگر مکان پیدا نشد)
    if re.search(r'\d', text) and ('€' in text or 'normal' in text or re.search(r'\d[tT]', text)):
        return "Tarif / Preis"

    # قانون بعدی: گروه‌های عمومی بدون مکان
    if 'kita' in text:
        return "Allgemein - Kita"
    if 'eltern kind' in text:
        return "Allgemein - Eltern Kind"
    if 'geschwisterkind' in text:
        return "Allgemein - Geschwisterkind"

    # قانون آخر: اگر هیچ‌کدام از قوانین بالا اعمال نشد
    return "Unkategorisiert"


df['GroupName'] = df['GroupName'].astype(str).apply(clean_text_group)

show_unique_values(df, "GroupName" , excel_output="Group_name_cleaned.xlsx")

Unique values in column 'GroupName':
GroupName
Steinfurt - Abo ermäßigt    194774
Allgemein - Kita            192025
Tarif / Preis               177624
Bochum - Schüler            170965
Emsdetten - Abo Schüler     163331
                             ...
Wersen - Lehrer                  6
Werne - Lehrer                   3
Herten - Lehrer                  1
Oelde - Lehrer                   1
Westerkappeln - Lehrer           1
Name: count, Length: 165, dtype: int64

Results saved to Excel file: Group_name_cleaned.xlsx

In [12]:
from sklearn.preprocessing import OrdinalEncoder, MinMaxScaler

categorical_cols = ['MenuName','GroupName','Site','SchoolID']
numerical_cols = ['MenuPrice' , 'MenuSubsidy']
date_cols = ['DateOfService','DateOfOrder']

# ایجاد X و Y
X = df.drop(columns=['OrderQty'], axis=1)
Y = df['OrderQty'].values.ravel()

# ایجاد مپینگ برای ستون‌های کتگوریکال
label_mapping = {}
for col in categorical_cols:
    unique_values = sorted(X[col].unique())
    label_mapping[col] = {val: idx for idx, val in enumerate(unique_values)}

# ایجاد لیست دسته‌بندی‌ها برای OrdinalEncoder
categories_list = []
for col in categorical_cols:
    mapping = label_mapping[col]
    categories = [k for k, v in sorted(mapping.items(), key=lambda item: item[1])]
    categories_list.append(categories)
print(label_mapping)

# Saving the label mapping as a CSV file
mapping_df_list = []

for i, mapping in label_mapping.items():
    temp_df = pd.DataFrame(list(mapping.items()), columns=['Original_Value', 'Encoded_Value'])
    temp_df['column_Name'] = i
    mapping_df_list.append(temp_df)

final_mapping_df = pd.concat(mapping_df_list)
csv_mapping_file_path = 'label_mapping.csv'
final_mapping_df.to_csv(csv_mapping_file_path, index=False)

print(csv_mapping_file_path)



# 1) Encode ستون‌های کتگوریکال
ordinal_encoder = OrdinalEncoder(categories=categories_list)
df[categorical_cols] = ordinal_encoder.fit_transform(df[categorical_cols])

{'MenuName': {'Kiga FZ Nicolai Lippstadt': 0, 'Lunchpaket': 1, 'Lunchpaket vegetarisch': 2, 'Menu A': 3, 'Menu A Ohne Dessert': 4, 'Menu B': 5, 'Menu B1': 6, 'Menu B1 Ohne Dessert': 7, 'Menu B1 veg': 8, 'Menu B2': 9, 'Menu B2 Ohne Dessert': 10, 'Menu C': 11, 'Menu D': 12, 'Menu DGE': 13, 'Mittagessen': 14, 'Mittagessen Outlaw': 15, 'Musterlinie': 16, 'Nudelbar': 17, 'Riesenbeck': 18, 'Salatbar': 19, 'Smart Eating': 20, 'Smart Eating Buffet': 21, 'Tagesmenü': 22, 'veganes Menu': 23}, 'GroupName': {'Allgemein - Kita': 0, 'Arnsberg - ermäßigt': 1, 'Bad Sassendorf - Allgemein': 2, 'Bad Sassendorf - Kita': 3, 'Bad Sassendorf - ermäßigt': 4, 'Beckum - Abo': 5, 'Beckum - Allgemein': 6, 'Beckum - Lehrer': 7, 'Beckum - Schüler': 8, 'Bergkamen - Abo Schüler': 9, 'Bergkamen - Schüler': 10, 'Bielefeld - Abo': 11, 'Bielefeld - Allgemein': 12, 'Bielefeld - Jobcenter': 13, 'Bielefeld - Lehrer': 14, 'Bielefeld - Schüler': 15, 'Bochum - Abo': 16, 'Bochum - Schüler': 17, 'Borghorst - Abo Lehrer': 18, 'Borghorst - Abo Schüler': 19, 'Borghorst - Lehrer': 20, 'Borghorst - Schüler': 21, 'Borken - Abo': 22, 'Borken - Abo ermäßigt': 23, 'Borken - Lehrer': 24, 'Borken - Schüler': 25, 'Borken - ermäßigt': 26, 'Bönen - Schüler': 27, 'Datteln - Abo Schüler': 28, 'Datteln - Abo ermäßigt': 29, 'Datteln - Schüler': 30, 'Datteln - ermäßigt': 31, 'Dortmund - Abo Schüler': 32, 'Dortmund - Abo ermäßigt': 33, 'Dortmund - Schüler': 34, 'Dortmund - ermäßigt': 35, 'Dülmen - Schüler': 36, 'Dülmen - ermäßigt': 37, 'Emsdetten - Abo Lehrer': 38, 'Emsdetten - Abo Schüler': 39, 'Emsdetten - Lehrer': 40, 'Emsdetten - Schüler': 41, 'Enger - Abo': 42, 'Enger - Lehrer': 43, 'Enger - Schüler': 44, 'Ennigerloh - Abo': 45, 'Ennigerloh - Lehrer': 46, 'Ennigerloh - Schüler': 47, 'Ennigerloh - ermäßigt': 48, 'Essen - Abo ermäßigt': 49, 'Essen - ermäßigt': 50, 'Gelsenkirchen - Abo': 51, 'Gelsenkirchen - Abo ermäßigt': 52, 'Gelsenkirchen - Schüler': 53, 'Gelsenkirchen - ermäßigt': 54, 'Gladbeck - Abo ermäßigt': 55, 'Gladbeck - Lehrer': 56, 'Gladbeck - Schüler': 57, 'Gladbeck - ermäßigt': 58, 'Greven - Abo Schüler': 59, 'Greven - Schüler': 60, 'Gütersloh - Lehrer': 61, 'Gütersloh - Schüler': 62, 'Gütersloh - ermäßigt': 63, 'Halle - Schüler': 64, 'Hamm - Allgemein': 65, 'Hamm - ermäßigt': 66, 'Herford - Abo ermäßigt': 67, 'Herford - ermäßigt': 68, 'Herne - ermäßigt': 69, 'Herten - Abo Schüler': 70, 'Herten - Abo ermäßigt': 71, 'Herten - Lehrer': 72, 'Herten - Schüler': 73, 'Herten - ermäßigt': 74, 'Horstmar - Lehrer': 75, 'Horstmar - Schüler': 76, 'Hörstel - Abo': 77, 'Hörstel - Abo Lehrer': 78, 'Hörstel - Abo Schüler': 79, 'Hörstel - Allgemein': 80, 'Hörstel - Lehrer': 81, 'Hörstel - Schüler': 82, 'Kreis Soest - Abo ermäßigt': 83, 'Kreis Soest - ermäßigt': 84, 'Lippe - Abo': 85, 'Lippe - Abo ermäßigt': 86, 'Lippe - Jobcenter': 87, 'Lippe - Schüler': 88, 'Lippe - ermäßigt': 89, 'Lippstadt - Allgemein': 90, 'Lippstadt - Kita': 91, 'Lippstadt - ermäßigt': 92, 'Lüdinghausen - Abo': 93, 'Lüdinghausen - Abo ermäßigt': 94, 'Lüdinghausen - Lehrer': 95, 'Lüdinghausen - Schüler': 96, 'Lüdinghausen - ermäßigt': 97, 'Märkischer Kreis - Abo ermäßigt': 98, 'Märkischer Kreis - ermäßigt': 99, 'Münster - Lehrer': 100, 'Münster - Schüler': 101, 'Münster - ermäßigt': 102, 'Nordkirchen - ermäßigt': 103, 'Oelde - Abo': 104, 'Oelde - Lehrer': 105, 'Oelde - Schüler': 106, 'Oelde - ermäßigt': 107, 'Olfen - Abo Schüler': 108, 'Olfen - Abo ermäßigt': 109, 'Olfen - Schüler': 110, 'Olfen - ermäßigt': 111, 'Ostbevern - Abo Lehrer': 112, 'Ostbevern - Abo Schüler': 113, 'Ostbevern - Lehrer': 114, 'Ostbevern - Schüler': 115, 'Programm: BuT': 116, 'Programm: Corona': 117, 'Programm: Primus': 118, 'Recklinghausen - ermäßigt': 119, 'Riesenbeck - Allgemein': 120, 'Senden - Lehrer': 121, 'Senden - Schüler': 122, 'Senden - ermäßigt': 123, 'Soest - Kita': 124, 'Sprockhövel - Lehrer': 125, 'Sprockhövel - Schüler': 126, 'Steinfurt - Abo ermäßigt': 127, 'Steinfurt - ermäßigt': 128, 'Tarif / Preis': 129, 'Unkategorisiert': 130, 'Unna - Abo ermäßigt': 131, 'Unna - Jobcenter': 132, 'Unna - ermäßigt': 133, 'Waltrop - Abo': 134, 'Warendorf - Abo ermäßigt': 135, 'Warendorf - ermäßigt': 136, 'Werl - Abo Schüler': 137, 'Werl - Abo ermäßigt': 138, 'Werl - Schüler': 139, 'Werne - Abo Lehrer': 140, 'Werne - Abo Schüler': 141, 'Werne - Lehrer': 142, 'Werne - Schüler': 143, 'Wersen - Abo Schüler': 144, 'Wersen - Lehrer': 145, 'Wersen - Schüler': 146, 'Wesel - Abo': 147, 'Wesel - Abo ermäßigt': 148, 'Wesel - Allgemein': 149, 'Wesel - Lehrer': 150, 'Wesel - Schüler': 151, 'Wesel - ermäßigt': 152, 'Westerkappeln - Abo Lehrer': 153, 'Westerkappeln - Abo Schüler': 154, 'Westerkappeln - Lehrer': 155, 'Westerkappeln - Schüler': 156, 'Wetter - Schüler': 157, 'Wetter - ermäßigt': 158, 'Wickede - Abo Lehrer': 159, 'Wickede - Abo Schüler': 160, 'Wickede - Abo ermäßigt': 161, 'Wickede - Lehrer': 162, 'Wickede - Schüler': 163, 'Wickede - ermäßigt': 164}, 'Site': {'BK': 0, 'LP': 1, 'MS': 2}, 'SchoolID': {'SCH001': 0, 'SCH002': 1, 'SCH003': 2, 'SCH004': 3, 'SCH005': 4, 'SCH006': 5, 'SCH007': 6, 'SCH008': 7, 'SCH009': 8, 'SCH010': 9, 'SCH011': 10, 'SCH012': 11, 'SCH013': 12, 'SCH014': 13, 'SCH016': 14, 'SCH017': 15, 'SCH020': 16, 'SCH021': 17, 'SCH022': 18, 'SCH023': 19, 'SCH024': 20, 'SCH025': 21, 'SCH027': 22, 'SCH028': 23, 'SCH029': 24, 'SCH031': 25, 'SCH032': 26, 'SCH035': 27, 'SCH036': 28, 'SCH037': 29, 'SCH039': 30, 'SCH040': 31, 'SCH042': 32, 'SCH043': 33, 'SCH045': 34, 'SCH047': 35, 'SCH048': 36, 'SCH049': 37, 'SCH050': 38, 'SCH051': 39, 'SCH052': 40, 'SCH053': 41, 'SCH055': 42, 'SCH056': 43, 'SCH057': 44, 'SCH058': 45, 'SCH059': 46, 'SCH061': 47, 'SCH062': 48, 'SCH064': 49, 'SCH065': 50, 'SCH066': 51, 'SCH067': 52, 'SCH068': 53, 'SCH069': 54, 'SCH070': 55, 'SCH071': 56, 'SCH072': 57, 'SCH073': 58, 'SCH074': 59, 'SCH075': 60, 'SCH076': 61, 'SCH077': 62, 'SCH078': 63, 'SCH079': 64, 'SCH081': 65, 'SCH082': 66, 'SCH083': 67, 'SCH084': 68, 'SCH085': 69, 'SCH087': 70, 'SCH088': 71, 'SCH089': 72, 'SCH091': 73, 'SCH092': 74, 'SCH093': 75, 'SCH095': 76, 'SCH097': 77, 'SCH098': 78, 'SCH099': 79, 'SCH100': 80, 'SCH101': 81, 'SCH102': 82, 'SCH103': 83, 'SCH104': 84, 'SCH105': 85, 'SCH106': 86, 'SCH107': 87, 'SCH108': 88, 'SCH109': 89, 'SCH110': 90, 'SCH111': 91, 'SCH112': 92, 'SCH113': 93, 'SCH114': 94, 'SCH115': 95, 'SCH116': 96, 'SCH117': 97, 'SCH118': 98, 'SCH119': 99, 'SCH120': 100, 'SCH121': 101, 'SCH122': 102, 'SCH123': 103, 'SCH124': 104, 'SCH125': 105, 'SCH126': 106, 'SCH127': 107, 'SCH128': 108, 'SCH129': 109, 'SCH130': 110, 'SCH131': 111, 'SCH132': 112, 'SCH133': 113, 'SCH134': 114, 'SCH135': 115, 'SCH136': 116, 'SCH137': 117, 'SCH138': 118, 'SCH139': 119, 'SCH140': 120, 'SCH141': 121, 'SCH142': 122, 'SCH143': 123, 'SCH144': 124, 'SCH145': 125, 'SCH146': 126, 'SCH147': 127, 'SCH148': 128, 'SCH149': 129, 'SCH150': 130, 'SCH151': 131, 'SCH152': 132, 'SCH153': 133, 'SCH154': 134}}
label_mapping.csv

In [13]:
df.to_csv('clear.csv',index=False, date_format='%Y-%m-%d')

In [ ]:
categorical_cols = ['MenuName','GroupName','Site','SchoolID']


import featuretools as ft

# 1. افزودن یک شناسه منحصر به فرد به دیتافریم اصلی
df['order_id'] = df.index

# 2. ساخت EntitySet
es = ft.EntitySet(id='orders_dataset')

# 3. افزودن دیتافریم با استفاده از متد جدید .add_dataframe
es = es.add_dataframe(
    dataframe_name='orders',
    dataframe=df,
    index='order_id',
    time_index='DateOfOrder'
)

# 4. اجرای Deep Feature Synthesis (DFS) برای ساخت ویژگی‌های جدید
feature_matrix, feature_defs = ft.dfs(
    entityset=es,
    target_dataframe_name='orders',
    trans_primitives=['day', 'month', 'year', 'weekday', 'is_weekend'],
    max_depth= 1,
    verbose=1
)

# 5. ادغام ویژگی‌های جدید به دیتافریم اصلی و حذف ستون‌های غیرضروری
# ابتدا ستون‌هایی که در df اصلی نیستند را جدا می‌کنیم (یعنی ویژگی‌های جدید)
new_feature_columns = feature_matrix.columns.difference(df.columns)

# ویژگی‌های جدید را به دیتافریم اصلی الحاق می‌کنیم
df = df.join(feature_matrix[new_feature_columns])

# در نهایت ستون‌های تاریخ و شناسه موقت را حذف می‌کنیم
df.drop(columns=['DateOfService', 'DateOfOrder', 'DateOfCancel', 'order_id'], inplace=True)

# نمایش نتیجه نهایی
print("ویژگی‌های جدید با موفقیت اضافه شدند.")
print(df.head())
print('ابعاد نهایی دیتافریم:', df.shape)

/home/mojtaba/miniforge3/envs/cuml/lib/python3.12/site-packages/cudf/pandas/fast_slow_proxy.py:28: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  return fn(*args, **kwargs)
/home/mojtaba/miniforge3/envs/cuml/lib/python3.12/site-packages/cudf/pandas/fast_slow_proxy.py:28: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  return fn(*args, **kwargs)
/home/mojtaba/miniforge3/envs/cuml/lib/python3.12/site-packages/cudf/pandas/fast_slow_proxy.py:28: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  return fn(*args, **kwargs)
/home/mojtaba/miniforge3/envs/cuml/lib/python3.12/site-packages/cudf/pandas/fast_slow_proxy.py:28: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  return fn(*args, **kwargs)
/home/mojtaba/miniforge3/envs/cuml/lib/python3.12/site-packages/cudf/pandas/fast_slow_proxy.py:28: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  return fn(*args, **kwargs)
/home/mojtaba/miniforge3/envs/cuml/lib/python3.12/site-packages/cudf/pandas/fast_slow_proxy.py:28: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  return fn(*args, **kwargs)
/home/mojtaba/miniforge3/envs/cuml/lib/python3.12/site-packages/cudf/pandas/fast_slow_proxy.py:28: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  return fn(*args, **kwargs)
/home/mojtaba/miniforge3/envs/cuml/lib/python3.12/site-packages/cudf/pandas/fast_slow_proxy.py:28: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  return fn(*args, **kwargs)

Built 24 features
Elapsed: 00:20 | Progress:  95%|█████████▍