In [1]:
%load_ext cuml.accel
%load_ext cudf.pandas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

cuML: Accelerator installed.

In [2]:
data = pd.read_csv('clear.csv')
df =pd.DataFrame(data)
df.head()

,DateOfService,DateOfOrder,OrderQty,MenuName,MenuPrice,MenuSubsidy,GroupName,CanceledQty,DateOfCancel,Site,SchoolID
0,2020-01-02,2019-12-02,1,14.0,3.05,0.0,2.0,0,<NA>,1.0,2.0
1,2020-01-03,2019-12-02,1,14.0,3.05,0.0,2.0,0,<NA>,1.0,2.0
2,2020-01-02,2019-12-03,1,14.0,3.05,0.0,2.0,0,<NA>,1.0,2.0
3,2020-01-02,2019-12-04,1,14.0,3.05,0.0,2.0,0,<NA>,1.0,2.0
4,2020-01-03,2019-12-04,1,14.0,3.05,0.0,2.0,0,<NA>,1.0,2.0

In [3]:
df['DateOfService']  = pd.to_datetime(df['DateOfService'] ,errors='coerce')
df['DateOfOrder']    = pd.to_datetime(df['DateOfOrder'], errors='coerce')
df['DateOfCancel']   = pd.to_datetime(df['DateOfCancel'], errors='coerce')

# بازه زمانی ثبت تا تحویل
df['LeadTime'] = (df['DateOfService'] - df['DateOfOrder']).dt.days
# بازه زمانی ثبت تا کنسل شدن
df['CancellationLeadTime'] = (df['DateOfCancel'] - df['DateOfOrder']).dt.days

df['order_year'] = df['DateOfOrder'].dt.year
df['order_month'] = df['DateOfOrder'].dt.month
df['order_day'] = df['DateOfOrder'].dt.day
df['order_weekday'] = df['DateOfOrder'].dt.weekday  # 0=دوشنبه, 6=یکشنبه
df['order_quarter'] = df['DateOfOrder'].dt.quarter
df['order_WeekOfYear'] = df['DateOfOrder'].dt.isocalendar().week  # هفته سال
df['order_dayofyear'] = df['DateOfOrder'].dt.dayofyear    # شماره روز سال


# استخراج از DateOfService
df['service_year'] = df['DateOfService'].dt.year
df['service_month'] = df['DateOfService'].dt.month
df['service_day'] = df['DateOfService'].dt.day
df['service_weekday'] = df['DateOfService'].dt.weekday
df['service_quarter'] = df['DateOfService'].dt.quarter
df['service_WeekOfYear'] = df['DateOfService'].dt.isocalendar().week  # هفته سال
df['service_dayofyear'] = df['DateOfService'].dt.dayofyear    # شماره روز سال


df = df.sort_values(by='DateOfOrder', ascending=True)
df.head()

,DateOfService,DateOfOrder,OrderQty,MenuName,MenuPrice,MenuSubsidy,GroupName,CanceledQty,DateOfCancel,Site,...,order_quarter,order_WeekOfYear,order_dayofyear,service_year,service_month,service_day,service_weekday,service_quarter,service_WeekOfYear,service_dayofyear
0,2020-01-02,2019-12-02,1,14.0,3.05,0.0,2.0,0,NaT,1.0,...,4,49,336,2020,1,2,3,1,1,2
1,2020-01-03,2019-12-02,1,14.0,3.05,0.0,2.0,0,NaT,1.0,...,4,49,336,2020,1,3,4,1,1,3
2,2020-01-02,2019-12-03,1,14.0,3.05,0.0,2.0,0,NaT,1.0,...,4,49,337,2020,1,2,3,1,1,2
3,2020-01-02,2019-12-04,1,14.0,3.05,0.0,2.0,0,NaT,1.0,...,4,49,338,2020,1,2,3,1,1,2
4,2020-01-03,2019-12-04,1,14.0,3.05,0.0,2.0,0,NaT,1.0,...,4,49,338,2020,1,3,4,1,1,3

In [4]:
# df.to_csv('clear2_feature.csv',index=False, date_format='%Y-%m-%d')

In [5]:

aggregation_rules = {
    # ویژگی‌های عددی اصلی
    'OrderQty': 'sum',
    'MenuPrice': ['mean', 'sum'],
    'MenuSubsidy': ['mean', 'sum'],
    'LeadTime': ['mean', 'std', 'max'],
    'CancellationLeadTime': ['mean', 'std'],

    # ویژگی‌های دسته‌ای
    'MenuName': 'nunique',
    'SchoolID': 'nunique',
    'GroupName': 'nunique',
    'Site': 'nunique',

    # ویژگی‌های مبتنی بر DateOfOrder (مقدارشان در هر گروه یکسان است)
    'order_year': 'first',
    'order_month': 'first',
    'order_day': 'first',
    'order_weekday': 'first',
    'order_quarter': 'first',
    'order_WeekOfYear': 'first',
    'order_dayofyear': 'first',

    # ویژگی‌های مبتنی بر DateOfService (تنوع آنها در هر روز مهم است)
    'service_weekday': 'nunique',
    'service_day': 'nunique',
    'service_month': 'nunique',

    # ستونی که بعداً برای ساخت هدف استفاده می‌شود
    'CanceledQty': 'sum'
}

# 4. اجرای تجمیع کامل
daily_aggregated_df = df.groupby('DateOfOrder').agg(aggregation_rules)
daily_aggregated_df.columns = ['_'.join(col).strip() for col in daily_aggregated_df.columns.values]

# 5. ساخت متغیر هدف (Target) به روش ایمن
target_df = df.groupby('DateOfCancel')['CanceledQty'].sum().reset_index()
target_df.rename(columns={'DateOfCancel': 'Date', 'CanceledQty': 'CanceledQty_Target'}, inplace=True)

final_df = daily_aggregated_df.reset_index().merge(
    target_df,
    left_on='DateOfOrder',
    right_on='Date',
    how='left'
)
final_df['CanceledQty_Tomorrow'] = final_df['CanceledQty_Target'].shift(-1)
final_df.fillna(0, inplace=True)


# 1. ساخت Lag Features بر اساس ستون هدف
final_df['CanceledQty_lag_1'] = final_df['CanceledQty_Tomorrow'].shift(1)
final_df['CanceledQty_lag_7'] = final_df['CanceledQty_Tomorrow'].shift(7)

# 2. ساخت Rolling Window Features بر اساس ستون هدف
final_df['CanceledQty_rolling_mean_7'] = final_df['CanceledQty_Tomorrow'].shift(1).rolling(window=7).mean()
final_df['CanceledQty_rolling_std_7'] = final_df['CanceledQty_Tomorrow'].shift(1).rolling(window=7).std()

# 3. پر کردن مقادیر خالی نهایی
# ویژگی‌های Lag و Rolling در ابتدای دیتافریم مقادیر NaN ایجاد می‌کنند
final_df.fillna(0, inplace=True)

final_df.drop(['Date', 'CanceledQty_Target'], axis=1, inplace=True)

final_df

,DateOfOrder,OrderQty_sum,MenuPrice_mean,MenuPrice_sum,MenuSubsidy_mean,MenuSubsidy_sum,LeadTime_mean,LeadTime_std,LeadTime_max,CancellationLeadTime_mean,...,order_dayofyear_first,service_weekday_nunique,service_day_nunique,service_month_nunique,CanceledQty_sum,CanceledQty_Tomorrow,CanceledQty_lag_1,CanceledQty_lag_7,CanceledQty_rolling_mean_7,CanceledQty_rolling_std_7
0,2019-12-02,2,3.050000,6.10,0.000000,0.00,31.500000,0.707107,32,0.0,...,336,2,2,1,0,0,0,0,0.000000,0.000000
1,2019-12-03,1,3.050000,3.05,0.000000,0.00,30.000000,0.000000,30,0.0,...,337,1,1,1,0,0,0,0,0.000000,0.000000
2,2019-12-04,2,3.050000,6.10,0.000000,0.00,29.500000,0.707107,30,0.0,...,338,2,2,1,0,0,0,0,0.000000,0.000000
3,2019-12-07,13,3.626923,47.15,0.000000,0.00,31.538462,2.295481,33,0.0,...,341,3,4,1,0,0,0,0,0.000000,0.000000
4,2019-12-08,60,2.442667,146.56,1.064833,63.89,31.300000,0.888724,33,0.0,...,342,5,5,1,0,0,0,0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1408,2023-12-17,608,3.112089,1892.15,0.723355,439.80,2.087171,0.948753,5,0.0,...,351,5,5,1,0,0,3,19,6.142857,6.067085
1409,2023-12-18,451,3.076608,1387.55,0.797339,359.60,1.747228,0.812656,4,0.0,...,352,4,4,1,0,0,0,4,3.428571,2.636737
1410,2023-12-19,141,3.168085,446.70,0.679433,95.80,1.510638,0.692996,3,0.0,...,353,3,3,1,0,1,0,5,2.857143,2.911390
1411,2023-12-20,50,3.603000,180.15,0.071000,3.55,1.320000,0.471212,2,0.0,...,354,2,2,1,0,0,1,5,2.285714,2.811541
1412,2023-12-21,9,3.700000,33.30,0.000000,0.00,1.000000,0.000000,1,0.0,...,355,1,1,1,0,0,0,7,1.571429,2.636737

In [6]:
#final_df.to_csv('clear2_feature_agg.csv',index=False, date_format='%Y-%m-%d')

In [9]:
import xgboost as xgb
import optuna
from sklearn.model_selection import TimeSeriesSplit
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import r2_score, mean_squared_error


drop_cols = ['DateOfOrder','CanceledQty_Tomorrow']
X = final_df.drop(columns=drop_cols, axis=1)
Y = final_df['CanceledQty_Tomorrow'].values.ravel()  # y به عنوان array

# لیست numerical_cols (برای scaling)
numerical_cols = numerical_cols = [
    'OrderQty_sum',
    'MenuPrice_mean',
    'MenuPrice_sum',
    'MenuSubsidy_mean',
    'MenuSubsidy_sum',
    'LeadTime_mean',
    'LeadTime_std',
    'LeadTime_max',
    'CancellationLeadTime_mean',
    'CancellationLeadTime_std',
    'MenuName_nunique',
    'SchoolID_nunique',
    'GroupName_nunique',
    'Site_nunique',
    'service_weekday_nunique',
    'service_day_nunique',
    'service_month_nunique',
    'CanceledQty_sum',

    'CanceledQty_lag_1',
    'CanceledQty_lag_7',
    'CanceledQty_rolling_mean_7',
    'CanceledQty_rolling_std_7',
]

def objective(trial):
    params = {
        'objective': 'reg:squarederror',
        'eval_metric': 'rmse',
        'n_estimators': trial.suggest_int('n_estimators', 100, 1000),
        'learning_rate': trial.suggest_float('learning_rate', 0.01, 0.2, log=True),
        'max_depth': trial.suggest_int('max_depth', 3, 7),
        'subsample': trial.suggest_float('subsample', 0.6, 0.9),
        'colsample_bytree': trial.suggest_float('colsample_bytree', 0.6, 0.9),
        'lambda': trial.suggest_float('lambda', 1e-3, 10.0, log=True),
        'alpha': trial.suggest_float('alpha', 1e-3, 10.0, log=True),
        'early_stopping_rounds': 20 ,
        'device':'cuda',
        'verbosity' : 0,
    }

    tscv = TimeSeriesSplit(n_splits=5)
    test_rmse_scores = []

    for train_index, test_index in tscv.split(X):
        X_train, X_test = X.iloc[train_index].copy(), X.iloc[test_index].copy()
        Y_train, Y_test = Y[train_index], Y[test_index]

        scaler = MinMaxScaler()
        X_train[numerical_cols] = scaler.fit_transform(X_train[numerical_cols])
        X_test[numerical_cols] = scaler.transform(X_test[numerical_cols])

        model = xgb.XGBRegressor(**params)
        model.fit(X_train, Y_train, eval_set=[(X_test, Y_test)],verbose=False )

        preds = model.predict(X_test)
        rmse = np.sqrt(mean_squared_error(Y_test, preds))
        test_rmse_scores.append(rmse)

    return np.mean(test_rmse_scores)

print("--- Start of Step 1: Parameter Optimization ---")
study = optuna.create_study(direction='minimize')
study.optimize(objective, n_trials=50) # برای نتایج بهتر می‌توانید تعداد را افزایش دهید

best_params = study.best_params
print("\n* Optimization completed.")
print(f"Best RMSE value in test (CV): {study.best_value:.4f}")
print("Best parameters found:", best_params)


# --- مرحله ۲: ارزیابی کامل مدل بهینه ---

print("\n--- Start of stage 2: Full evaluation of the model with the best parameters ---")
train_r2_scores, train_rmse_scores = [], []
test_r2_scores, test_rmse_scores = [], []

tscv = TimeSeriesSplit(n_splits=5)

for fold, (train_index, test_index) in enumerate(tscv.split(X)):
    X_train, X_test = X.iloc[train_index].copy(), X.iloc[test_index].copy()
    Y_train, Y_test = Y[train_index], Y[test_index]

    scaler = MinMaxScaler()
    X_train[numerical_cols] = scaler.fit_transform(X_train[numerical_cols])
    X_test[numerical_cols] = scaler.transform(X_test[numerical_cols])

    # ایجاد مدل با بهترین پارامترهای یافت‌شده
    model = xgb.XGBRegressor(**best_params)
    model.fit(X_train, Y_train)

    # پیش‌بینی روی داده‌های آموزشی و تست
    Y_train_pred = model.predict(X_train)
    Y_test_pred = model.predict(X_test)

    # محاسبه متریک‌ها
    train_r2 = r2_score(Y_train, Y_train_pred)
    train_rmse = np.sqrt(mean_squared_error(Y_train, Y_train_pred))
    test_r2 = r2_score(Y_test, Y_test_pred)
    test_rmse = np.sqrt(mean_squared_error(Y_test, Y_test_pred))

    # مدل Baseline برای مقایسه
    baseline_pred = np.full_like(Y_test, Y_train.mean())
    baseline_r2 = r2_score(Y_test, baseline_pred)
    baseline_rmse = np.sqrt(mean_squared_error(Y_test, baseline_pred))

    # ذخیره نتایج
    train_r2_scores.append(train_r2)
    train_rmse_scores.append(train_rmse)
    test_r2_scores.append(test_r2)
    test_rmse_scores.append(test_rmse)

    # چاپ گزارش برای هر Fold
    print(f"\nFold {fold+1}:")
    print(f"  Train R2 = {train_r2:.4f}, Train RMSE = {train_rmse:.4f}")
    print(f"  Test R2 = {test_r2:.4f}, Test RMSE = {test_rmse:.4f}")
    print(f"  Baseline (mean) R2 = {baseline_r2:.4f}, Baseline RMSE = {baseline_rmse:.4f}")
    print(f"  Mean Y_test = {Y_test.mean():.4f}")

# میانگین نهایی متریک‌ها
print("\n--- The final average of the metrics (overall evaluation of the optimal model) ---")
print(f"Mean Train R2: {np.mean(train_r2_scores):.4f}")
print(f"Mean Train RMSE: {np.mean(train_rmse_scores):.4f}")
print(f"Mean Test R2: {np.mean(test_r2_scores):.4f}")
print(f"Mean Test RMSE: {np.mean(test_rmse_scores):.4f}")

[I 2025-07-23 02:39:54,080] A new study created in memory with name: no-name-542b2f8c-b49a-46f4-aec3-4d8c8a658e57

--- Start of Step 1: Parameter Optimization ---

[I 2025-07-23 02:39:57,488] Trial 0 finished with value: 240.61108317945232 and parameters: {'n_estimators': 890, 'learning_rate': 0.06981584226708164, 'max_depth': 4, 'subsample': 0.8184647939670444, 'colsample_bytree': 0.8407733675408666, 'lambda': 0.1024857280427571, 'alpha': 2.100634777709473}. Best is trial 0 with value: 240.61108317945232.
[I 2025-07-23 02:40:01,848] Trial 1 finished with value: 238.73302010379513 and parameters: {'n_estimators': 836, 'learning_rate': 0.012345777996914152, 'max_depth': 5, 'subsample': 0.7425833688614805, 'colsample_bytree': 0.7712431768369891, 'lambda': 0.2781603280191379, 'alpha': 0.693760843603758}. Best is trial 1 with value: 238.73302010379513.
[I 2025-07-23 02:40:04,346] Trial 2 finished with value: 239.5428384508992 and parameters: {'n_estimators': 749, 'learning_rate': 0.13069926382373118, 'max_depth': 4, 'subsample': 0.7830423262757295, 'colsample_bytree': 0.6733991357258005, 'lambda': 1.0577626037530008, 'alpha': 0.04258974782502902}. Best is trial 1 with value: 238.73302010379513.
[I 2025-07-23 02:40:07,481] Trial 3 finished with value: 240.3381039221586 and parameters: {'n_estimators': 405, 'learning_rate': 0.14987263360122757, 'max_depth': 5, 'subsample': 0.6355002314489048, 'colsample_bytree': 0.8657712019643777, 'lambda': 0.016675927188166278, 'alpha': 4.69217586924762}. Best is trial 1 with value: 238.73302010379513.
[I 2025-07-23 02:40:10,312] Trial 4 finished with value: 237.42644025546005 and parameters: {'n_estimators': 414, 'learning_rate': 0.17980736709817732, 'max_depth': 3, 'subsample': 0.6229152374684191, 'colsample_bytree': 0.8119908026821445, 'lambda': 1.832901326282753, 'alpha': 0.018951628539321804}. Best is trial 4 with value: 237.42644025546005.
[I 2025-07-23 02:40:12,969] Trial 5 finished with value: 240.1527926680632 and parameters: {'n_estimators': 818, 'learning_rate': 0.08032625668880602, 'max_depth': 5, 'subsample': 0.778578924343383, 'colsample_bytree': 0.7435581537019026, 'lambda': 0.006908689293278917, 'alpha': 0.009957278215298846}. Best is trial 4 with value: 237.42644025546005.
[I 2025-07-23 02:40:17,412] Trial 6 finished with value: 234.5195073541935 and parameters: {'n_estimators': 928, 'learning_rate': 0.07605093041275984, 'max_depth': 6, 'subsample': 0.6537910363469221, 'colsample_bytree': 0.7428202945871949, 'lambda': 3.0716180239670616, 'alpha': 0.6284287595433604}. Best is trial 6 with value: 234.5195073541935.
[I 2025-07-23 02:40:20,706] Trial 7 finished with value: 235.99930993243007 and parameters: {'n_estimators': 208, 'learning_rate': 0.04921133270179322, 'max_depth': 4, 'subsample': 0.6389366589977582, 'colsample_bytree': 0.8022072318056481, 'lambda': 2.2154658330340147, 'alpha': 0.5388404466419365}. Best is trial 6 with value: 234.5195073541935.
[I 2025-07-23 02:40:23,890] Trial 8 finished with value: 239.26562854046833 and parameters: {'n_estimators': 305, 'learning_rate': 0.03704540614462066, 'max_depth': 3, 'subsample': 0.6215710310909122, 'colsample_bytree': 0.6601162132198245, 'lambda': 0.19437581805078996, 'alpha': 0.5934049574732164}. Best is trial 6 with value: 234.5195073541935.
[I 2025-07-23 02:40:26,637] Trial 9 finished with value: 243.751523513089 and parameters: {'n_estimators': 626, 'learning_rate': 0.19791283186391456, 'max_depth': 4, 'subsample': 0.6314582727456892, 'colsample_bytree': 0.6737506868804349, 'lambda': 0.012209075946388164, 'alpha': 1.5021096304787005}. Best is trial 6 with value: 234.5195073541935.
[I 2025-07-23 02:40:32,538] Trial 10 finished with value: 236.7555002053285 and parameters: {'n_estimators': 647, 'learning_rate': 0.02192025526030881, 'max_depth': 7, 'subsample': 0.7134117406797189, 'colsample_bytree': 0.6151688518090666, 'lambda': 6.422008673589845, 'alpha': 0.00100317772403936}. Best is trial 6 with value: 234.5195073541935.
[I 2025-07-23 02:40:36,222] Trial 11 finished with value: 236.63301981397794 and parameters: {'n_estimators': 256, 'learning_rate': 0.04219609626243659, 'max_depth': 7, 'subsample': 0.6949748162528111, 'colsample_bytree': 0.7468683902105, 'lambda': 9.40535591936311, 'alpha': 0.20617822817874484}. Best is trial 6 with value: 234.5195073541935.
[I 2025-07-23 02:40:39,849] Trial 12 finished with value: 235.90473381030242 and parameters: {'n_estimators': 132, 'learning_rate': 0.0728675560562344, 'max_depth': 6, 'subsample': 0.678309906253258, 'colsample_bytree': 0.7877496962899999, 'lambda': 1.072513101836127, 'alpha': 0.15950962466486338}. Best is trial 6 with value: 234.5195073541935.
[I 2025-07-23 02:40:42,347] Trial 13 finished with value: 240.50580247937697 and parameters: {'n_estimators': 111, 'learning_rate': 0.08590103620011354, 'max_depth': 6, 'subsample': 0.8871119439408832, 'colsample_bytree': 0.7278095942866357, 'lambda': 0.0012941503480840876, 'alpha': 0.12727014182851987}. Best is trial 6 with value: 234.5195073541935.
[I 2025-07-23 02:40:45,582] Trial 14 finished with value: 237.27698207684733 and parameters: {'n_estimators': 448, 'learning_rate': 0.10791288540481077, 'max_depth': 6, 'subsample': 0.6810774536635054, 'colsample_bytree': 0.8946582202778064, 'lambda': 0.6165231227348515, 'alpha': 8.615555703923912}. Best is trial 6 with value: 234.5195073541935.
[I 2025-07-23 02:40:49,300] Trial 15 finished with value: 235.7058443009828 and parameters: {'n_estimators': 552, 'learning_rate': 0.05815180404103604, 'max_depth': 6, 'subsample': 0.6717357495433982, 'colsample_bytree': 0.7863784936447852, 'lambda': 4.221421154684167, 'alpha': 0.08152367115721769}. Best is trial 6 with value: 234.5195073541935.
[I 2025-07-23 02:40:54,688] Trial 16 finished with value: 235.01738290447315 and parameters: {'n_estimators': 553, 'learning_rate': 0.02762475198064601, 'max_depth': 6, 'subsample': 0.6668048462576909, 'colsample_bytree': 0.8282837841025699, 'lambda': 3.931356761228751, 'alpha': 0.004715941636792057}. Best is trial 6 with value: 234.5195073541935.
[I 2025-07-23 02:40:58,700] Trial 17 finished with value: 238.04834718116481 and parameters: {'n_estimators': 997, 'learning_rate': 0.025315749406410386, 'max_depth': 7, 'subsample': 0.7284572977700107, 'colsample_bytree': 0.709825778107243, 'lambda': 0.044927568517496144, 'alpha': 0.0020773252041704367}. Best is trial 6 with value: 234.5195073541935.
[I 2025-07-23 02:41:02,586] Trial 18 finished with value: 237.7051156770987 and parameters: {'n_estimators': 985, 'learning_rate': 0.027022740552220318, 'max_depth': 6, 'subsample': 0.6575778048643397, 'colsample_bytree': 0.8350653815588894, 'lambda': 0.3568593438444027, 'alpha': 0.005914536348017904}. Best is trial 6 with value: 234.5195073541935.
[I 2025-07-23 02:41:09,892] Trial 19 finished with value: 236.46252855814492 and parameters: {'n_estimators': 667, 'learning_rate': 0.013724616082228223, 'max_depth': 7, 'subsample': 0.6033391526570314, 'colsample_bytree': 0.7025382816481238, 'lambda': 3.1996582297400233, 'alpha': 0.02732011344463616}. Best is trial 6 with value: 234.5195073541935.
[I 2025-07-23 02:41:16,055] Trial 20 finished with value: 235.0421216969452 and parameters: {'n_estimators': 532, 'learning_rate': 0.03465391175887566, 'max_depth': 6, 'subsample': 0.7705458683494553, 'colsample_bytree': 0.8998022271870729, 'lambda': 9.586763784676657, 'alpha': 0.004069160536088273}. Best is trial 6 with value: 234.5195073541935.
[I 2025-07-23 02:41:23,275] Trial 21 finished with value: 235.91171023812512 and parameters: {'n_estimators': 528, 'learning_rate': 0.01708309808463559, 'max_depth': 6, 'subsample': 0.7723271918756617, 'colsample_bytree': 0.8994404744797646, 'lambda': 8.823915534651409, 'alpha': 0.0046096087878985175}. Best is trial 6 with value: 234.5195073541935.
[I 2025-07-23 02:41:26,992] Trial 22 finished with value: 237.17884996428947 and parameters: {'n_estimators': 734, 'learning_rate': 0.03738777686088732, 'max_depth': 5, 'subsample': 0.8195745853890166, 'colsample_bytree': 0.8675574813940299, 'lambda': 3.2631255841709463, 'alpha': 0.0024121813918564256}. Best is trial 6 with value: 234.5195073541935.
[I 2025-07-23 02:41:30,610] Trial 23 finished with value: 236.99552329847893 and parameters: {'n_estimators': 523, 'learning_rate': 0.030433731216941814, 'max_depth': 6, 'subsample': 0.7129895857259578, 'colsample_bytree': 0.8365612786160805, 'lambda': 0.9537845982064581, 'alpha': 0.009942080651063365}. Best is trial 6 with value: 234.5195073541935.
[I 2025-07-23 02:41:37,664] Trial 24 finished with value: 235.3741302456915 and parameters: {'n_estimators': 468, 'learning_rate': 0.01760094782592118, 'max_depth': 7, 'subsample': 0.827374231089712, 'colsample_bytree': 0.8679366778421452, 'lambda': 5.098850049270702, 'alpha': 0.0011721851262164352}. Best is trial 6 with value: 234.5195073541935.
[I 2025-07-23 02:41:41,608] Trial 25 finished with value: 234.23701891881433 and parameters: {'n_estimators': 609, 'learning_rate': 0.05117390407765707, 'max_depth': 6, 'subsample': 0.6574650170524086, 'colsample_bytree': 0.8146979223603834, 'lambda': 2.5237657021415822, 'alpha': 0.06241339449490271}. Best is trial 25 with value: 234.23701891881433.
[I 2025-07-23 02:41:44,718] Trial 26 finished with value: 237.51991950254222 and parameters: {'n_estimators': 734, 'learning_rate': 0.05763946497669564, 'max_depth': 5, 'subsample': 0.6567810830455697, 'colsample_bytree': 0.8166848103575013, 'lambda': 0.5080822310632569, 'alpha': 0.2797866336255467}. Best is trial 25 with value: 234.23701891881433.
[I 2025-07-23 02:41:48,112] Trial 27 finished with value: 236.95442745277705 and parameters: {'n_estimators': 357, 'learning_rate': 0.09756196424356366, 'max_depth': 5, 'subsample': 0.605459208700874, 'colsample_bytree': 0.7675799109036503, 'lambda': 1.7135184179468155, 'alpha': 0.05294708219753368}. Best is trial 25 with value: 234.23701891881433.
[I 2025-07-23 02:41:51,112] Trial 28 finished with value: 237.89189995627277 and parameters: {'n_estimators': 929, 'learning_rate': 0.04829700740583918, 'max_depth': 6, 'subsample': 0.701005568200627, 'colsample_bytree': 0.757682664285394, 'lambda': 0.16154757843702944, 'alpha': 2.172112933911579}. Best is trial 25 with value: 234.23701891881433.
[I 2025-07-23 02:41:54,912] Trial 29 finished with value: 234.48463323357015 and parameters: {'n_estimators': 896, 'learning_rate': 0.05828826268023641, 'max_depth': 7, 'subsample': 0.6556111753516676, 'colsample_bytree': 0.8461552148566338, 'lambda': 2.1153971353277172, 'alpha': 1.2213867116448789}. Best is trial 25 with value: 234.23701891881433.
[I 2025-07-23 02:41:58,005] Trial 30 finished with value: 239.2809587439503 and parameters: {'n_estimators': 890, 'learning_rate': 0.06005501362291736, 'max_depth': 7, 'subsample': 0.6531119607623118, 'colsample_bytree': 0.8616141784770891, 'lambda': 0.0851769953555339, 'alpha': 1.2199769003027776}. Best is trial 25 with value: 234.23701891881433.
[I 2025-07-23 02:42:02,480] Trial 31 finished with value: 233.48912871578514 and parameters: {'n_estimators': 817, 'learning_rate': 0.0673674981460466, 'max_depth': 7, 'subsample': 0.6650894381711493, 'colsample_bytree': 0.8305841907975253, 'lambda': 1.9434128031176103, 'alpha': 3.3633076561126685}. Best is trial 31 with value: 233.48912871578514.
[I 2025-07-23 02:42:05,994] Trial 32 finished with value: 236.23392281688376 and parameters: {'n_estimators': 820, 'learning_rate': 0.06842787815858242, 'max_depth': 7, 'subsample': 0.6905956787936469, 'colsample_bytree': 0.7840990311897862, 'lambda': 1.6126932412005877, 'alpha': 2.651875950241053}. Best is trial 31 with value: 233.48912871578514.
[I 2025-07-23 02:42:09,270] Trial 33 finished with value: 238.3760705235427 and parameters: {'n_estimators': 894, 'learning_rate': 0.11122143719014904, 'max_depth': 7, 'subsample': 0.7323534080178429, 'colsample_bytree': 0.8020124520507947, 'lambda': 0.7301237620532366, 'alpha': 0.32170856634282574}. Best is trial 31 with value: 233.48912871578514.
[I 2025-07-23 02:42:12,309] Trial 34 finished with value: 237.7836132840991 and parameters: {'n_estimators': 791, 'learning_rate': 0.08831993552871313, 'max_depth': 7, 'subsample': 0.6495424646998631, 'colsample_bytree': 0.84460536727842, 'lambda': 0.41348032420599373, 'alpha': 3.9843166875212095}. Best is trial 31 with value: 233.48912871578514.
[I 2025-07-23 02:42:16,720] Trial 35 finished with value: 234.28453905305932 and parameters: {'n_estimators': 858, 'learning_rate': 0.06452982459449402, 'max_depth': 7, 'subsample': 0.617864923930774, 'colsample_bytree': 0.8570633801278379, 'lambda': 2.5460484112798367, 'alpha': 0.8678019372793445}. Best is trial 31 with value: 233.48912871578514.
[I 2025-07-23 02:42:20,690] Trial 36 finished with value: 234.54254155007783 and parameters: {'n_estimators': 865, 'learning_rate': 0.04506063913246919, 'max_depth': 7, 'subsample': 0.6104771572133287, 'colsample_bytree': 0.8524104451188732, 'lambda': 1.3034576126734374, 'alpha': 9.45998801679349}. Best is trial 31 with value: 233.48912871578514.
[I 2025-07-23 02:42:24,284] Trial 37 finished with value: 236.7120905619391 and parameters: {'n_estimators': 692, 'learning_rate': 0.13571250112906125, 'max_depth': 7, 'subsample': 0.635517162369347, 'colsample_bytree': 0.8775168825749808, 'lambda': 2.198945674419637, 'alpha': 1.1128268486177633}. Best is trial 31 with value: 233.48912871578514.
[I 2025-07-23 02:42:27,676] Trial 38 finished with value: 238.13898114045915 and parameters: {'n_estimators': 780, 'learning_rate': 0.06312904995145607, 'max_depth': 7, 'subsample': 0.6210060840857906, 'colsample_bytree': 0.8226391701335409, 'lambda': 0.20937293390036352, 'alpha': 4.784196563984902}. Best is trial 31 with value: 233.48912871578514.
[I 2025-07-23 02:42:30,551] Trial 39 finished with value: 239.92968731411983 and parameters: {'n_estimators': 836, 'learning_rate': 0.05636606274655531, 'max_depth': 7, 'subsample': 0.8000747840211969, 'colsample_bytree': 0.8050458417159582, 'lambda': 0.07032083906578676, 'alpha': 0.9503675270188416}. Best is trial 31 with value: 233.48912871578514.
[I 2025-07-23 02:42:33,814] Trial 40 finished with value: 237.5761548609268 and parameters: {'n_estimators': 947, 'learning_rate': 0.048840257257914896, 'max_depth': 7, 'subsample': 0.7507049852200696, 'colsample_bytree': 0.8503297033216098, 'lambda': 0.7763295416151041, 'alpha': 0.38993890569238615}. Best is trial 31 with value: 233.48912871578514.
[I 2025-07-23 02:42:37,593] Trial 41 finished with value: 235.73444929739253 and parameters: {'n_estimators': 953, 'learning_rate': 0.07341449629228448, 'max_depth': 6, 'subsample': 0.6406173071841765, 'colsample_bytree': 0.7303939922349366, 'lambda': 2.7330842303544944, 'alpha': 0.6705157787354524}. Best is trial 31 with value: 233.48912871578514.
[I 2025-07-23 02:42:40,659] Trial 42 finished with value: 235.76526715918848 and parameters: {'n_estimators': 870, 'learning_rate': 0.0842434985548362, 'max_depth': 4, 'subsample': 0.6183216870337996, 'colsample_bytree': 0.7662768046650548, 'lambda': 5.19014220184332, 'alpha': 3.081862467751129}. Best is trial 31 with value: 233.48912871578514.
[I 2025-07-23 02:42:44,629] Trial 43 finished with value: 235.27506279970422 and parameters: {'n_estimators': 609, 'learning_rate': 0.04183927477149777, 'max_depth': 7, 'subsample': 0.6665157906119912, 'colsample_bytree': 0.8767798480701392, 'lambda': 2.2051360704173955, 'alpha': 1.7748007772045724}. Best is trial 31 with value: 233.48912871578514.
[I 2025-07-23 02:42:48,072] Trial 44 finished with value: 236.58633316944187 and parameters: {'n_estimators': 913, 'learning_rate': 0.07292557104890525, 'max_depth': 6, 'subsample': 0.6373190183456771, 'colsample_bytree': 0.8830390205292353, 'lambda': 1.206493007653301, 'alpha': 0.06767334502394237}. Best is trial 31 with value: 233.48912871578514.
[I 2025-07-23 02:42:51,190] Trial 45 finished with value: 236.64651675549356 and parameters: {'n_estimators': 768, 'learning_rate': 0.11224761937337131, 'max_depth': 5, 'subsample': 0.6878568922002657, 'colsample_bytree': 0.7956338260842978, 'lambda': 6.51946796096171, 'alpha': 0.5854058821375686}. Best is trial 31 with value: 233.48912871578514.
[I 2025-07-23 02:42:53,624] Trial 46 finished with value: 238.7947769309657 and parameters: {'n_estimators': 703, 'learning_rate': 0.05415705835490763, 'max_depth': 7, 'subsample': 0.7087506975454492, 'colsample_bytree': 0.8146856294842091, 'lambda': 0.0021416705201715955, 'alpha': 5.480998323359402}. Best is trial 31 with value: 233.48912871578514.
[I 2025-07-23 02:42:56,448] Trial 47 finished with value: 239.2285769962269 and parameters: {'n_estimators': 842, 'learning_rate': 0.1562587191043763, 'max_depth': 6, 'subsample': 0.6262001277992686, 'colsample_bytree': 0.6132844725365533, 'lambda': 1.5715944372092494, 'alpha': 0.1764509664627242}. Best is trial 31 with value: 233.48912871578514.
[I 2025-07-23 02:42:59,180] Trial 48 finished with value: 238.60731016707987 and parameters: {'n_estimators': 965, 'learning_rate': 0.06598660018035545, 'max_depth': 3, 'subsample': 0.645737750391429, 'colsample_bytree': 0.8287272631037715, 'lambda': 0.02293325437983667, 'alpha': 0.1078383338535235}. Best is trial 31 with value: 233.48912871578514.
[I 2025-07-23 02:43:03,662] Trial 49 finished with value: 237.02187210562707 and parameters: {'n_estimators': 809, 'learning_rate': 0.07625442557957327, 'max_depth': 6, 'subsample': 0.6712208476573489, 'colsample_bytree': 0.64290258252016, 'lambda': 3.0639959240138417, 'alpha': 0.03256094109944867}. Best is trial 31 with value: 233.48912871578514.

* Optimization completed.
Best RMSE value in test (CV): 233.4891
Best parameters found: {'n_estimators': 817, 'learning_rate': 0.0673674981460466, 'max_depth': 7, 'subsample': 0.6650894381711493, 'colsample_bytree': 0.8305841907975253, 'lambda': 1.9434128031176103, 'alpha': 3.3633076561126685}

--- Start of stage 2: Full evaluation of the model with the best parameters ---

/home/mojtaba/miniforge3/envs/cuml/lib/python3.12/site-packages/xgboost/core.py:705: UserWarning: [02:43:05] WARNING: /home/conda/feedstock_root/build_artifacts/xgboost-split_1748292990656/work/src/common/error_msg.cc:58: Falling back to prediction using DMatrix due to mismatched devices. This might lead to higher memory usage and slower performance. XGBoost is running on: cpu, while the input data is on: cuda:0.
Potential solutions:
- Use a data structure that matches the device ordinal in the booster.
- Set the device for booster before call to inplace_predict.

This warning will only be shown once.

  return func(**kwargs)

Fold 1:
  Train R2 = 1.0000, Train RMSE = 0.2746
  Test R2 = -1.0236, Test RMSE = 82.3832
  Baseline (mean) R2 = -0.0636, Baseline RMSE = 59.7249
  Mean Y_test = 16.4000

Fold 2:
  Train R2 = 1.0000, Train RMSE = 0.2654
  Test R2 = 0.0575, Test RMSE = 135.1862
  Baseline (mean) R2 = -0.0107, Baseline RMSE = 139.9976
  Mean Y_test = 37.4255

Fold 3:
  Train R2 = 1.0000, Train RMSE = 0.2666
  Test R2 = 0.1468, Test RMSE = 127.9404
  Baseline (mean) R2 = -0.0103, Baseline RMSE = 139.2222
  Mean Y_test = 42.0553

Fold 4:
  Train R2 = 1.0000, Train RMSE = 0.2730
  Test R2 = -0.0064, Test RMSE = 111.9694
  Baseline (mean) R2 = -0.0047, Baseline RMSE = 111.8720
  Mean Y_test = 38.6213

Fold 5:
  Train R2 = 1.0000, Train RMSE = 0.2873
  Test R2 = 0.0273, Test RMSE = 767.8936
  Baseline (mean) R2 = -0.0052, Baseline RMSE = 780.6347
  Mean Y_test = 89.2511

--- The final average of the metrics (overall evaluation of the optimal model) ---
Mean Train R2: 1.0000
Mean Train RMSE: 0.2734
Mean Test R2: -0.1597
Mean Test RMSE: 245.0746

,DateOfOrder,OrderQty_sum,MenuPrice_mean,MenuPrice_sum,MenuSubsidy_mean,MenuSubsidy_sum,LeadTime_mean,LeadTime_std,LeadTime_max,CancellationLeadTime_mean,...,order_day_first,order_weekday_first,order_quarter_first,order_WeekOfYear_first,order_dayofyear_first,service_weekday_nunique,service_day_nunique,service_month_nunique,CanceledQty_sum,CanceledQty_Tomorrow
0,2019-12-02,2,3.050000,6.10,0.000000,0.00,31.500000,0.707107,32,0.0,...,2,0,4,49,336,2,2,1,0,0
1,2019-12-03,1,3.050000,3.05,0.000000,0.00,30.000000,0.000000,30,0.0,...,3,1,4,49,337,1,1,1,0,0
2,2019-12-04,2,3.050000,6.10,0.000000,0.00,29.500000,0.707107,30,0.0,...,4,2,4,49,338,2,2,1,0,0
3,2019-12-07,13,3.626923,47.15,0.000000,0.00,31.538462,2.295481,33,0.0,...,7,5,4,49,341,3,4,1,0,0
4,2019-12-08,60,2.442667,146.56,1.064833,63.89,31.300000,0.888724,33,0.0,...,8,6,4,49,342,5,5,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1408,2023-12-17,608,3.112089,1892.15,0.723355,439.80,2.087171,0.948753,5,0.0,...,17,6,4,50,351,5,5,1,0,0
1409,2023-12-18,451,3.076608,1387.55,0.797339,359.60,1.747228,0.812656,4,0.0,...,18,0,4,51,352,4,4,1,0,0
1410,2023-12-19,141,3.168085,446.70,0.679433,95.80,1.510638,0.692996,3,0.0,...,19,1,4,51,353,3,3,1,0,1
1411,2023-12-20,50,3.603000,180.15,0.071000,3.55,1.320000,0.471212,2,0.0,...,20,2,4,51,354,2,2,1,0,0
1412,2023-12-21,9,3.700000,33.30,0.000000,0.00,1.000000,0.000000,1,0.0,...,21,3,4,51,355,1,1,1,0,0